services:
  # PostgreSQL Database for MLflow Backend Store
  postgres:
    image: postgres:15
    container_name: mlflow_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mlflow
    ports:
      - "5432:5432"
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d mlflow" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # MinIO for Artifact Store (S3 compatible)
  minio:
    image: minio/minio
    container_name: mlflow_minio
    environment:
      MINIO_ROOT_USER: user
      MINIO_ROOT_PASSWORD: password
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - ./volumes/minio:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3

  # Create default bucket in MinIO
  mc:
    image: minio/mc
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c " /usr/bin/mc alias set myminio http://minio:9000 user password && /usr/bin/mc mb myminio/mlflow --ignore-existing "

  # MLflow Tracking Server
  mlflow:
    build:
      context: .
      dockerfile: deployment/docker/Dockerfile.mlflow
    container_name: mlflow_server
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
    environment:
      MLFLOW_BACKEND_STORE_URI: postgresql://user:password@postgres:5432/mlflow
      MLFLOW_ARTIFACT_ROOT: s3://mlflow/
      AWS_ACCESS_KEY_ID: user
      AWS_SECRET_ACCESS_KEY: password
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
    ports:
      - "5000:5000"
    command: >
      mlflow server --backend-store-uri postgresql://user:password@postgres:5432/mlflow --artifacts-destination s3://mlflow/ --host 0.0.0.0
